openapi: 3.0.3
info:
  title: Developer API
  version: 2.0.0
servers:
- url: https://api.revenuecat.com/v2
security:
- BearerAuth: []
tags:
- description: Operations about apps.
  name: App
- description: Operations about chart metrics.
  name: Charts & Metrics
- description: Operations about customers.
  name: Customer
- description: Operations about entitlements.
  name: Entitlement
- description: Operations about offerings.
  name: Offering
- description: Operations about packages.
  name: Package
- description: Operations about products.
  name: Product
- description: Operations about purchases.
  name: Purchase
- description: Operations about subscriptions.
  name: Subscription
- description: Operations about invoices.
  name: Invoice
- description: Operations about paywalls.
  name: Paywall
- description: Operations about projects.
  name: Project
- description: |
    <SchemaDefinition schemaRef="#/components/schemas/Subscription" showReadOnly={true} showWriteOnly={true} />
  name: Subscription Data Model
  x-modelReference: true
- description: |-
    <div class="theme-admonition theme-admonition-info alert alert--info">
      <div class="heading">New to RevenueCat?</div>
      <div>Welcome! If you're adding subscriptions or other in-app purchases to your app, the RevenueCat SDK will handle most of the heavy-lifting without the need to interact with this API directly. See our <a href="/docs/getting-started/quickstart">Quickstart</a> for more information on getting started with RevenueCat.</div>
    </div>

    <div class="theme-admonition theme-admonition-info alert alert--info">
      <div class="heading">API v2 under development</div>
      <div>
        REST API v2 is currently under development and does not yet cover all use cases from API v1. For those missing use cases, please use v1 in the meantime.
      </div>
    </div>

    ## About RevenueCat’s REST API

    RevenueCat provides a REST API for developers to perform customer and transaction related actions from their own server.

    Most of this API is geared toward client usage via RevenueCat’s SDK, but there are various endpoints that can be used for refunding purchases, granting promotional entitlements, and other sensitive actions that can only be done via a Secret API key from your server.

    ## Should I use this REST API or the RevenueCat SDK?

    If you’re adding subscriptions or other in-app purchases to your app for the first time or if you don’t have a backend that stores your user’s receipts, you’re probably looking to implement the [RevenueCat SDK](/docs/getting-started/installation).

    If you want to start migrating your existing users to RevenueCat and you have your user’s receipts stored on your own server, or you want to check subscription status of your users from your own server, the REST API is a great solution.

    ## Base URL

    The base URL for the RevenueCat REST API v2 is `https://api.revenuecat.com/v2`.

    ## Authentication

    Authentication for the RevenueCat REST API is achieved by setting the `Authorization` header with a valid API key. You'll find two types of API keys in your RevenueCat dashboard: _public_ and _secret_.

    Certain endpoints require secret keys, which should be kept out of any publicly accessible areas such as GitHub, client-side code, and so forth. See our [Authentication guide](/docs/welcome/authentication) for more information.

    ```text title="Authorization Header"
    Authorization: Bearer YOUR_REVENUECAT_API_KEY
    ```

    <div class="theme-admonition theme-admonition-info alert alert--warning">
      <div class="heading">
        Authorization type `Bearer` required in header
      </div>
      <div>
        he RevenueCat REST API v2 requires stating the authorization type `Bearer` in the `Authorization` header before the API key in accordance with [RFC 7235](https://datatracker.ietf.org/doc/html/rfc7235). This is different to the v1 API which allowed passing just the API key as the `Authorization` header.
      </div>
    </div>

    <div class="theme-admonition theme-admonition-info alert alert--warning">
      <div class="heading">
        API v1 keys will not work with REST API v2
      </div>
      <div>
        In order to utilize the RevenueCat API v2, please create new v2 secret keys and define your permissions.
      </div>
    </div>

    ## API v2 Permissions

    You can create a new secret API key in your project settings page > API keys. Select _+ New_.

    ![](https://www.revenuecat.com/docs/images/c640edd-image.png)

    Give it a name, select `V2` as the version, and set your permissions. Be sure to select _Generate_ at the top right corner.

    ![](https://www.revenuecat.com/docs/images/842f5ae-image.png)

    Each endpoint in this documentation will contain a description informing you which permissions are required.

    ## Request Payload

    The body of the `POST` requests should be encoded in JSON and have the 'Content-Type' header set to 'application/json'.

    ```text title="Content-Type Header"
    Content-Type: application/json
    ```

    ```json title="Sample Body"
    {
      "app_user_id": "user-1456",
      "fetch_token": "MQABC...EFH1234="
    }
    ```

    ## Params

    <div class="theme-admonition theme-admonition-info alert alert--warning">
      <div class="heading">Encode your URL params</div>
      <div>For URL params, such as the `app_user_id`, make sure you URL encode them before using them.</div>
    </div>
  name: Overview (v2)
  x-traitTag: true
- description: |-
    Top-level API resources have support for bulk fetches via "list" API methods. For instance, you can list products, list entitlements, and list offerings. These list API methods share a common structure, taking at least these two parameters: `limit` and `starting_after`.

    When a response or a field contains multiple entities of the same type, it returns a `list` object of the following structure:

    ```json title="JSON"
    {
      "object": "list",
      "items": [{}],
      "next_page": "LIST_BASE_URL?starting_after=LAST_ID",
      "url": "LIST_BASE_URL"
    }
    ```

    Where…

    - `url` is the full path base URL of the list endpoint (i.e., if you make a request to this endpoint, you will get the first page), e.g. `/v2/projects/{project_id}/products`
    - `next_page` is the URL for the next page, if there is one. If there is no next page, the `next_page` field will not be present. Example: `/v2/projects/{project_id}/products?starting_after={last_id}`
    - `items` is an array of the entries of the list.

    The `starting_after` query parameter of list endpoints accepts the ID of the first list item that will not be part of the list (in other words, the ID of the last item of the previous page).

    At the moment we only support forward pagination.

    ## Parameters

    `limit` _optional, default is 20_

    A limit on the number of objects to be returned.

    `starting_after` _optional_

    A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, ending with foo, your subsequent call can include `starting_after=foo` in order to fetch the next page of the list.
  name: Pagination
  x-traitTag: true
- description: |
    We will return the following headers on all successful requests:

    * `RevenueCat-Rate-Limit-Current-Usage`: the number of executed requests for the current rate limiting period, including the current request. The rate limiting period is one minute.
    * `RevenueCat-Rate-Limit-Current-Limit`: the limit in requests per minute for this endpoint

    If you reach the rate limit, as indicated by a 429 error code, we will also include the following header:

    * `Retry-After`: the number of seconds to wait until you can retry this request.

    Below is an example of the response body that will be sent when the rate limit is reached. The value of the `backoff_ms` field corresponds to the `Retry-After`` header but specified in milliseconds.

    ```
    {
      "type": "rate_limit_error",
      "message": "Rate limit exceeded",
      "retryable": true,
      "doc_url": "https://errors.rev.cat/rate-limit-error",
      "backoff_ms": 1000
    }
    ```
  name: Rate Limit
  x-traitTag: true
- description: |
    Expandables allow you to retrieve related data along with the request without making additional requests. Fields in the REST API will allow you to request additional information as an expanded response by using the `expand` query parameter.

    For example, a `product` object will have an associated `app_id` field. This `app_id` field can be expanded in the same request with the `expand` query parameter and will include an `app` object in the response.

    ### Without `expand` query param

    ```json title="GET /products/prod1a2b3c4d5"
    {
      "object": "product",
      "id": "prod1a2b3c4d5e",
      "store_identifier": "rc_1w_199",
      "type": "subscription",
      "subscription": {
        "duration": "P1M",
        "grace_period_duration": "P3D",
        "trial_duration": "P1W"
      },
      "created_at": 1658399423658,
      "app_id": "app1a2b3c4"
    }
    ```

    ### With `expand` query param:

    ```json title="GET /products/prod1a2b3c4d5?expand=app"
    {
      "object": "product",
      "id": "prod1a2b3c4d5e",
      "store_identifier": "rc_1w_199",
      "type": "subscription",
      "subscription": {
        "duration": "P1M",
        "grace_period_duration": "P3D",
        "trial_duration": "P1W"
      },
      "created_at": 1658399423658,
      "app_id": "app1a2b3c4",
      "app": {
        "id": "app1a2b3c4",
        "name": "string",
        "created_at": 1658399423658,
        "type": "amazon",
        "project_id": "proj1a2b3c4"
      }
    }
    ```

    As you can see from above, the `app_id` field remains the same, but the response contains an additional `app` object.

    Fields that can be expanded into objects are indicated in the endpoint documentation under **Query Params** and will list accepted values.
    Also, the required permissions to be defined in the API key are listed there.
  name: Expandables
  x-traitTag: true
- description: |-
    RevenueCat uses [standard HTTP status codes](#tag/Error-Handling/Error-Codes) to indicate the success or failure of an API request. Codes in the `2XX` range indicate the request was successful. `4XX` codes indicate an error caused by the client. `5XX` codes indicate an error in RevenueCat servers.

    Successful modifications return the modified entity. Errors return the following fields:

    ```json title="Sample Error Response"
    {
      "type": "parameter_error",
      "param": "customer_id",
      "message": "id is too long",
      "retryable": false,
      "doc_url": "https://errors.rev.cat/parameter-error"
    }
    ```

    For more information on the `type` field and how to resolve these errors, please visit our [Error Types](#tag/Error-Handling/Error-Types) documentation.

    ## Error Codes

    | Code | Name                  | Description                                                                                                                                                                                          |
    | :--- | :-------------------- | :--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
    | 200  | OK                    | Processed as expected                                                                                                                                                                                |
    | 201  | Created               | Entity was created                                                                                                                                                                                   |
    | 202  | Accepted              | Request acknowledged, but cannot be processed in real time (for instance, async job)                                                                                                                 |
    | 204  | No content            | The request was successful and there was no content that could be returned                                                                                                                           |
    | 400  | Bad Request           | Client error                                                                                                                                                                                         |
    | 401  | Unauthorized          | Not authenticated                                                                                                                                                                                    |
    | 403  | Forbidden             | Authorization failed                                                                                                                                                                                 |
    | 404  | Not Found             | No resource was found                                                                                                                                                                                |
    | 409  | Conflict              | Uniqueness constraint violation                                                                                                                                                                      |
    | 418  | I'm a teapot          | RevenueCat refuses to brew coffee                                                                                                                                                                    |
    | 422  | Unprocessable entity  | The request was valid and the syntax correct, but we were unable to process the contained instructions.                                                                                              |
    | 423  | Locked                | The request conflicted with another ongoing request                                                                                                                                                  |
    | 429  | Too Many Requests     | Being [rate limited](#tag/Rate-Limit)                                                                                                                                                                 |
    | 500  | Internal Server Error | The RevenueCat server ran into an unexpected problem – please check the [RevenueCat status page](https://status.revenuecat.com/) for any known outages and/or report the issue to RevenueCat support |
    | 502  | Bad Gateway           | Invalid response from an upstream server                                                                                                                                                             |
    | 503  | Service Unavailable   | There wasn’t a server to handle the request                                                                                                                                                          |
    | 504  | Gateway Timeout       | We could not get the response in time from the upstream server                                                                                                                                       |

    ## Error Types
    ### `authentication_error`

    Authentication is not valid for the given API key. Double check your API key.

    ### `authorization_error`

    The API key does not belong the project you specified. Double check that your API key is associated with the IDs you are passing.

    ### `invalid_request`

    This error can be due to several reasons:

    - `Content-Type: application/json` is missing in the request header for `POST`/`PUT`/`PATCH` requests
    - Using the incorrect HTTP method on a path (i.e: `GET …/entitlements/<entitlements_id>/actions/attach_products`)

    ### `parameter_error`

    The parameter provided is invalid. Please refer to the `message` field for more information.

    - IDs (e.g: `entitlement_id`, `project_id`, etc): 1 to 255 characters
    - `display_name`(applies to Entitlements): 1 to 1000 characters
    - `lookup_key`(applies to Entitlements): 1 to 200 characters

    ### `rate_limit_error`

    The request has hit the [rate limit](#tag/Rate-Limit) for this endpoint. Refer to the `backoff_ms` field to determine how many milliseconds to wait before making another request to the same endpoint.

    ### `resource_missing`

    The resource with the specific ID does not exist. Double check the IDs (e.g: product ID, entitlement ID, etc) you are passing into the endpoints.

    ### `resource_already_exists`

    The resource with the specific ID already exists. Use a different, unique value for ID and try again.

    ### `resource_locked_error`

    The resource is currently being modified by a concurrent request. Refer to the `backoff_ms` field to determine when to try again.

    ### `server_error`

    Request is not able to be processed due to an internal server error. Refer to the `backoff_ms` field to determine when to try again. Please report this to the RevenueCat team if you are encountering this issue.

    ### `store_error`

    There was a problem with the stores (e.g: Apple App Store, Google Play Store, etc). This typically occurs when the stores are unable to process the request. Refer to the `backoff_ms` field to determine when to try again.

    ### `unprocessable_entity_error`

    Request is not able to be processed. Please refer to the `message` field for more information.
  name: Error Handling
  x-traitTag: true
- description: "In comparison to our [v1 REST API](/docs/api-v1#tag/customer_info_model),\
    \ we have made changes to improve the organization and accessibility of your customers’\
    \ subscriptions. The data model used in the RevenueCat REST API v2 has several\
    \ advantages. Firstly, it better abstracts differences between different app stores,\
    \ making it easier for you to access your data without needing to understand the\
    \ specificities and idiosyncrasies of each individual store. \n\nAdditionally,\
    \ the REST API v2 subscription data model provides richer information regarding\
    \ your subscription data and includes new fields such as:\n\n- `gives_access`:\
    \ Rather than having to create your own logic to determine if a customer should\
    \ have access, we will provide you with that information directly.\n- `auto_renewal_status`:\
    \ Previously you would have to use `unsubscribe_detected_at`, `billing_issues_detected_at`,\
    \ and other fields to determine the auto renewal status of the customer, now we\
    \ include this information to take away the estimation work.\n- `status`: Gives\
    \ you a quick and easy way to gather the status of the customer’s subscription\
    \ to determine what state they are currently in.\n- `store_subscription_identifier`:\
    \ Whereas the old data model was missing the store’s subscription identifier (aka\
    \ the transaction ID directly from the stores), we have included this new field\
    \ to help identify your customer’s subscription.\n- `total_revenue_in_usd`: You\
    \ can easily determine how much a customer has spent for this subscription in\
    \ USD and utilize it for your own bookkeeping purposes. This object also contains\
    \ information such as gross, commission, tax, and proceeds to help you break down\
    \ the customer’s revenue. \n\nTo view more details of fields we have included\
    \ for the subscription object, check out the [model reference](#tag/Subscription-Data-Model).\
    \ \n\nEventually we will also expose this sort of information in webhooks and\
    \ customer event details to incorporate the new data model throughout RevenueCat.\n\
    \n## What constitutes a new subscription\n\nDifferent stores supported by RevenueCat\
    \ have different logic to define what is a new subscription vs. a change to an\
    \ existing subscription. To make it easier to handle subscriptions across different\
    \ stores, the data model for the RevenueCat REST API v2 is now following a consistent\
    \ definition of what continues the same subscription vs. a new one:\n\n- After\
    \ a subscription has lapsed (e.g: after a billing retry or letting subscription\
    \ expire after an unsubscribe), if a customer subscribes to the same product it\
    \ will be considered a new subscription (this was previously treated differently\
    \ on Apple App Store vs. Google Play Store)\n- If the product of a paid subscription\
    \ is changed, the subscription to the new product will be considered a new subscription.\
    \ An exception is product changes during a trial period, the post-trial subscription\
    \ period to a different product will not be considered a new subscription, but\
    \ a regular trial conversion\n- For family shared subscriptions:\n  - Family shared\
    \ subscriptions will be considered as a new subscription (albeit with no revenue)\n\
    \  - If family sharing access is revoked and later re-enabled, this will be considered\
    \ as a new subscription\n\n### Diagrams for different cases\n\n#### Billing issue:\
    \ unrecovered\n\n![](/docs/images/api-v2/b39dda4-Billing_issue__unrecovered.png)\n\
    \n\n#### Billing issue: recovered\n\n![](/docs/images/api-v2/312e3fd-Billing_issue__recovered.png)\n\
    \n\n#### Lapsed subscription\n\n![](/docs/images/api-v2/dca8cda-Lapsed_subscription.png)\n\
    \n\n#### Product changes: upgrade (no trial)\n\n![](/docs/images/api-v2/1a8e689-Product_changes__upgrade_no_trial.png)\n\
    \n\n#### Product changes: downgrade (no trial)\n\n![](/docs/images/api-v2/ae7edfc-Product_changes__downgrade_no_trial.png)\n\
    \n\n#### Product changes (with trial)\n\n![](/docs/images/api-v2/a4e8115-Product_changes_with_trial.png)\n\
    \n\n#### Subscription paused: Recovery\n\n![](/docs/images/api-v2/4fa17e9-Subscription_paused__Recovery.png)\n\
    \n\n#### Subscription paused: Billing issue, recovered\n\n![](/docs/images/api-v2/a10133d-Subscription_paused__Billing_issue_recoverd.png)\n\
    \n\n#### Subscription paused: Billing issue, unrecovered\n\n![](/docs/images/api-v2/6fa24fb-Subscription_paused__Billing_issue_unrecovered.png)\n\
    \n\n#### Family shared subscriptions\n\n![](/docs/images/api-v2/1511106-Family_shared_subscriptions.png)\n\
    \n\n#### Family shared subscriptions: regranted\n\n![](/docs/images/api-v2/b3134c1-Family_shared_subscriptions__regranted.png)"
  name: Representation of Subscriptions
  x-traitTag: true
paths:
  /projects/{project_id}/paywalls:
    post:
      description: |-
        Create a paywall for an offering of the project.
         This endpoint requires the following permission(s): <code>project_configuration:offerings:read_write</code>.
      operationId: create-paywall
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: proj1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_paywall_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Paywall"
          description: Success. The paywall was created
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
        "400":
          content:
            application/json:
              examples:
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    param: customer_id
                    message: id is too long
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                invalid_request:
                  value:
                    object: error
                    type: invalid_request
                    message: Content-Type not application/json
                    retryable: false
                    doc_url: https://errors.rev.cat/invalid-request
              schema:
                $ref: "#/components/schemas/create_paywall_400_response"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_401_response"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_403_response"
          description: Access denied
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_404_response"
          description: Not found
        "409":
          content:
            application/json:
              examples:
                resource_already_exists:
                  value:
                    object: error
                    type: resource_already_exists
                    message: Name is already taken
                    retryable: false
                    doc_url: https://errors.rev.cat/resource-already-exists
                idempotency_error:
                  value:
                    object: error
                    type: idempotency_error
                    message: Idempotency key already used for a different request
                    retryable: false
                    doc_url: https://errors.rev.cat/idempotency-error
              schema:
                $ref: "#/components/schemas/create_paywall_409_response"
          description: Conflict
        "422":
          content:
            application/json:
              examples:
                unprocessable_entity:
                  value:
                    object: error
                    type: unprocessable_entity_error
                    message: Cannot delete a product that has purchases
                    retryable: false
                    doc_url: https://errors.rev.cat/unprocessable-entity-error
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    message: Date must in the future
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                store_error:
                  value:
                    object: error
                    type: store_error
                    message: There was a problem on the App Store
                    retryable: true
                    doc_url: https://errors.rev.cat/store-error
                    backoff_ms: 1000
              schema:
                $ref: "#/components/schemas/create_paywall_422_response"
          description: Unprocessable entity
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_423_response"
          description: Locked
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_429_response"
          description: The request could not be completed because the rate limiting
            domain for this endpoint is currently at its limit for this project.
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
            Retry-After:
              $ref: "#/components/headers/RateLimitRetryAfter"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
      summary: Create a paywall
      tags:
      - Paywall
      x-revenuecat-rate-limiting-domain: project_configuration
      x-scopes:
      - project_configuration:offerings:read_write
      x-release-status: public
  /projects/{project_id}/apps/{app_id}/public_api_keys:
    get:
      description: "This endpoint requires the following permission(s): <code>project_configuration:apps:read</code>."
      operationId: list-app-public-api-keys
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: proj1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      - description: ID of the app
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          example: app1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPublicApiKeys"
          description: Success
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
        "400":
          content:
            application/json:
              examples:
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    param: customer_id
                    message: id is too long
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                invalid_request:
                  value:
                    object: error
                    type: invalid_request
                    message: Content-Type not application/json
                    retryable: false
                    doc_url: https://errors.rev.cat/invalid-request
              schema:
                $ref: "#/components/schemas/create_paywall_400_response"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_401_response"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_403_response"
          description: Access denied
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_404_response"
          description: Not found
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_423_response"
          description: Locked
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_429_response"
          description: The request could not be completed because the rate limiting
            domain for this endpoint is currently at its limit for this project.
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
            Retry-After:
              $ref: "#/components/headers/RateLimitRetryAfter"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
      summary: Get a list of the public API keys of an app
      tags:
      - App
      x-revenuecat-rate-limiting-domain: project_configuration
      x-scopes:
      - project_configuration:apps:read
      x-release-status: public
  /projects:
    get:
      description: "This endpoint requires the following permission(s): <code>project_configuration:projects:read</code>."
      operationId: list-projects
      parameters:
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          example: ent12354
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          example: 10
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProjects"
          description: Success
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
        "400":
          content:
            application/json:
              examples:
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    param: customer_id
                    message: id is too long
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                invalid_request:
                  value:
                    object: error
                    type: invalid_request
                    message: Content-Type not application/json
                    retryable: false
                    doc_url: https://errors.rev.cat/invalid-request
              schema:
                $ref: "#/components/schemas/create_paywall_400_response"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_401_response"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_403_response"
          description: Access denied
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_404_response"
          description: Not found
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_423_response"
          description: Locked
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_429_response"
          description: The request could not be completed because the rate limiting
            domain for this endpoint is currently at its limit for this project.
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
            Retry-After:
              $ref: "#/components/headers/RateLimitRetryAfter"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
      summary: Get a list of projects
      tags:
      - Project
      x-revenuecat-rate-limiting-domain: project_configuration
      x-scopes:
      - project_configuration:projects:read
      x-release-status: public
  /projects/{project_id}/apps:
    get:
      description: "This endpoint requires the following permission(s): <code>project_configuration:apps:read</code>."
      operationId: list-apps
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: proj1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          example: ent12354
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          example: 10
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListApps"
          description: Success
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
        "400":
          content:
            application/json:
              examples:
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    param: customer_id
                    message: id is too long
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                invalid_request:
                  value:
                    object: error
                    type: invalid_request
                    message: Content-Type not application/json
                    retryable: false
                    doc_url: https://errors.rev.cat/invalid-request
              schema:
                $ref: "#/components/schemas/create_paywall_400_response"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_401_response"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_403_response"
          description: Access denied
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_404_response"
          description: Not found
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_423_response"
          description: Locked
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_429_response"
          description: The request could not be completed because the rate limiting
            domain for this endpoint is currently at its limit for this project.
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
            Retry-After:
              $ref: "#/components/headers/RateLimitRetryAfter"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
      summary: Get a list of apps
      tags:
      - App
      x-revenuecat-rate-limiting-domain: project_configuration
      x-scopes:
      - project_configuration:apps:read
      x-release-status: public
    post:
      description: "This endpoint requires the following permission(s): <code>project_configuration:apps:read_write</code>."
      operationId: create-app
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: proj1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              App Store:
                value:
                  name: My App Store App
                  type: app_store
                  app_store:
                    bundle_id: com.apple.Pages
                    shared_secret: 1234567890abcdef1234567890abcdef
                    subscription_private_key: |-
                      -----BEGIN EC PRIVATE KEY-----
                      MHQCAQEEIGAkwOF0qkGO19yJlIzQVcOg+HBfvLL4KDXDtL+MMHk2oAcGBSuBBAAK
                      oUQDQgAEhDP7RaX4c6qOHkE1nIWMr5C90ybtr87VRGFm4VsfWqG47NPN+/dHcfwJ
                      JPZGFgMcgvBc37AxQPPQjyXYjhhQDg==
                      -----END EC PRIVATE KEY-----
                    subscription_key_id: 6345942CC3
                    subscription_key_issuer: 5a049d62-1b9b-453c-b605-1988189d8129
              Play Store:
                value:
                  name: My Play Store App
                  type: play_store
                  play_store:
                    package_name: com.android.app
              Stripe:
                value:
                  name: My Stripe App
                  type: stripe
                  stripe:
                    stripe_account_id: acct_adcdef123456
              Amazon:
                value:
                  name: My Amazon App
                  type: amazon
                  amazon:
                    package_name: com.amazon.android.app
                    shared_secret: <Your Amazon Developer Identity Shared Key>
              Web Billing:
                value:
                  name: My RevenueCat App
                  type: rc_billing
                  rc_billing:
                    app_name: <Your app name>
                    default_currency: USD
              Roku:
                value:
                  name: My Roku App
                  type: roku
                  roku:
                    roku_api_key: <Your Roku Pay API Key goes here>
                    roku_channel_id: 123456
                    roku_channel_name: History Channel
              Paddle:
                value:
                  name: My Paddle App
                  type: paddle
                  paddle:
                    paddle_api_key: <Your Paddle API Key goes here>
            schema:
              $ref: "#/components/schemas/AppCreate"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/App"
          description: Success. The app was created
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
        "400":
          content:
            application/json:
              examples:
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    param: customer_id
                    message: id is too long
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                invalid_request:
                  value:
                    object: error
                    type: invalid_request
                    message: Content-Type not application/json
                    retryable: false
                    doc_url: https://errors.rev.cat/invalid-request
              schema:
                $ref: "#/components/schemas/create_paywall_400_response"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_401_response"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_403_response"
          description: Access denied
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_404_response"
          description: Not found
        "409":
          content:
            application/json:
              examples:
                resource_already_exists:
                  value:
                    object: error
                    type: resource_already_exists
                    message: Name is already taken
                    retryable: false
                    doc_url: https://errors.rev.cat/resource-already-exists
                idempotency_error:
                  value:
                    object: error
                    type: idempotency_error
                    message: Idempotency key already used for a different request
                    retryable: false
                    doc_url: https://errors.rev.cat/idempotency-error
              schema:
                $ref: "#/components/schemas/create_paywall_409_response"
          description: Conflict
        "422":
          content:
            application/json:
              examples:
                unprocessable_entity:
                  value:
                    object: error
                    type: unprocessable_entity_error
                    message: Cannot delete a product that has purchases
                    retryable: false
                    doc_url: https://errors.rev.cat/unprocessable-entity-error
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    message: Date must in the future
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                store_error:
                  value:
                    object: error
                    type: store_error
                    message: There was a problem on the App Store
                    retryable: true
                    doc_url: https://errors.rev.cat/store-error
                    backoff_ms: 1000
              schema:
                $ref: "#/components/schemas/create_paywall_422_response"
          description: Unprocessable entity
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_423_response"
          description: Locked
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_429_response"
          description: The request could not be completed because the rate limiting
            domain for this endpoint is currently at its limit for this project.
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
            Retry-After:
              $ref: "#/components/headers/RateLimitRetryAfter"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
      summary: Create an App
      tags:
      - App
      x-revenuecat-rate-limiting-domain: project_configuration
      x-scopes:
      - project_configuration:apps:read_write
      x-release-status: public
  /projects/{project_id}/apps/{app_id}:
    delete:
      description: "This endpoint requires the following permission(s): <code>project_configuration:apps:read_write</code>."
      operationId: delete-app
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: proj1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      - description: ID of the app
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          example: app1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletedObject"
          description: Success
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
        "400":
          content:
            application/json:
              examples:
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    param: customer_id
                    message: id is too long
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                invalid_request:
                  value:
                    object: error
                    type: invalid_request
                    message: Content-Type not application/json
                    retryable: false
                    doc_url: https://errors.rev.cat/invalid-request
              schema:
                $ref: "#/components/schemas/create_paywall_400_response"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_401_response"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_403_response"
          description: Access denied
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_404_response"
          description: Not found
        "409":
          content:
            application/json:
              examples:
                resource_already_exists:
                  value:
                    object: error
                    type: resource_already_exists
                    message: Name is already taken
                    retryable: false
                    doc_url: https://errors.rev.cat/resource-already-exists
                idempotency_error:
                  value:
                    object: error
                    type: idempotency_error
                    message: Idempotency key already used for a different request
                    retryable: false
                    doc_url: https://errors.rev.cat/idempotency-error
              schema:
                $ref: "#/components/schemas/create_paywall_409_response"
          description: Conflict
        "422":
          content:
            application/json:
              examples:
                unprocessable_entity:
                  value:
                    object: error
                    type: unprocessable_entity_error
                    message: Cannot delete a product that has purchases
                    retryable: false
                    doc_url: https://errors.rev.cat/unprocessable-entity-error
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    message: Date must in the future
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                store_error:
                  value:
                    object: error
                    type: store_error
                    message: There was a problem on the App Store
                    retryable: true
                    doc_url: https://errors.rev.cat/store-error
                    backoff_ms: 1000
              schema:
                $ref: "#/components/schemas/create_paywall_422_response"
          description: Unprocessable entity
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_423_response"
          description: Locked
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_429_response"
          description: The request could not be completed because the rate limiting
            domain for this endpoint is currently at its limit for this project.
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
            Retry-After:
              $ref: "#/components/headers/RateLimitRetryAfter"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
      summary: Delete an app
      tags:
      - App
      x-revenuecat-rate-limiting-domain: project_configuration
      x-scopes:
      - project_configuration:apps:read_write
      x-release-status: public
    get:
      description: "This endpoint requires the following permission(s): <code>project_configuration:apps:read</code>."
      operationId: get-app
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: proj1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      - description: ID of the app
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          example: app1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/App"
          description: Success
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
        "400":
          content:
            application/json:
              examples:
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    param: customer_id
                    message: id is too long
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                invalid_request:
                  value:
                    object: error
                    type: invalid_request
                    message: Content-Type not application/json
                    retryable: false
                    doc_url: https://errors.rev.cat/invalid-request
              schema:
                $ref: "#/components/schemas/create_paywall_400_response"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_401_response"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_403_response"
          description: Access denied
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_404_response"
          description: Not found
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_423_response"
          description: Locked
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_429_response"
          description: The request could not be completed because the rate limiting
            domain for this endpoint is currently at its limit for this project.
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
            Retry-After:
              $ref: "#/components/headers/RateLimitRetryAfter"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
      summary: Get an app
      tags:
      - App
      x-revenuecat-rate-limiting-domain: project_configuration
      x-scopes:
      - project_configuration:apps:read
      x-release-status: public
    post:
      description: "This endpoint requires the following permission(s): <code>project_configuration:apps:read_write</code>."
      operationId: update-app
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: proj1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      - description: ID of the app
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          example: app1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Update App Store App properties:
                value:
                  name: New App name
                  app_store:
                    bundle_id: com.my.new-app
                    shared_secret: 1234567890abcdef1234567890abcdef
              Update App Store App secret:
                value:
                  app_store:
                    shared_secret: 1234567890abcdef1234567890abcdef
              Remove App Store App secret:
                value:
                  app_store:
                    shared_secret: null
            schema:
              $ref: "#/components/schemas/update_app_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/App"
          description: Success. The app was updated
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
        "400":
          content:
            application/json:
              examples:
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    param: customer_id
                    message: id is too long
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                invalid_request:
                  value:
                    object: error
                    type: invalid_request
                    message: Content-Type not application/json
                    retryable: false
                    doc_url: https://errors.rev.cat/invalid-request
              schema:
                $ref: "#/components/schemas/create_paywall_400_response"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_401_response"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_403_response"
          description: Access denied
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_404_response"
          description: Not found
        "409":
          content:
            application/json:
              examples:
                resource_already_exists:
                  value:
                    object: error
                    type: resource_already_exists
                    message: Name is already taken
                    retryable: false
                    doc_url: https://errors.rev.cat/resource-already-exists
                idempotency_error:
                  value:
                    object: error
                    type: idempotency_error
                    message: Idempotency key already used for a different request
                    retryable: false
                    doc_url: https://errors.rev.cat/idempotency-error
              schema:
                $ref: "#/components/schemas/create_paywall_409_response"
          description: Conflict
        "422":
          content:
            application/json:
              examples:
                unprocessable_entity:
                  value:
                    object: error
                    type: unprocessable_entity_error
                    message: Cannot delete a product that has purchases
                    retryable: false
                    doc_url: https://errors.rev.cat/unprocessable-entity-error
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    message: Date must in the future
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                store_error:
                  value:
                    object: error
                    type: store_error
                    message: There was a problem on the App Store
                    retryable: true
                    doc_url: https://errors.rev.cat/store-error
                    backoff_ms: 1000
              schema:
                $ref: "#/components/schemas/create_paywall_422_response"
          description: Unprocessable entity
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_423_response"
          description: Locked
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_429_response"
          description: The request could not be completed because the rate limiting
            domain for this endpoint is currently at its limit for this project.
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
            Retry-After:
              $ref: "#/components/headers/RateLimitRetryAfter"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
      summary: Update an app
      tags:
      - App
      x-revenuecat-rate-limiting-domain: project_configuration
      x-scopes:
      - project_configuration:apps:read_write
      x-release-status: public
  /projects/{project_id}/apps/{app_id}/store_kit_config:
    get:
      description: "This endpoint requires the following permission(s): <code>project_configuration:apps:read</code>."
      operationId: get-app-storekit-config
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: proj1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      - description: ID of the app
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          example: app1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreKitConfigFile"
          description: Success
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
        "400":
          content:
            application/json:
              examples:
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    param: customer_id
                    message: id is too long
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                invalid_request:
                  value:
                    object: error
                    type: invalid_request
                    message: Content-Type not application/json
                    retryable: false
                    doc_url: https://errors.rev.cat/invalid-request
              schema:
                $ref: "#/components/schemas/create_paywall_400_response"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_401_response"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_403_response"
          description: Access denied
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_404_response"
          description: Not found
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_423_response"
          description: Locked
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_429_response"
          description: The request could not be completed because the rate limiting
            domain for this endpoint is currently at its limit for this project.
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
            Retry-After:
              $ref: "#/components/headers/RateLimitRetryAfter"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
      summary: Get the StoreKit configuration for an app
      tags:
      - App
      x-revenuecat-rate-limiting-domain: project_configuration
      x-scopes:
      - project_configuration:apps:read
      x-release-status: public
  /projects/{project_id}/customers:
    get:
      description: "This endpoint requires the following permission(s): <code>customer_information:customers:read</code>."
      operationId: list-customers
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: proj1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          example: ent12354
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          example: 10
          type: integer
        style: form
      - description: "Search term. Currently, only searching by email is supported\
          \ (searching for exact matches in the $email attribute)."
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: example@example.com
          maxLength: 255
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCustomers"
          description: Success
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
        "400":
          content:
            application/json:
              examples:
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    param: customer_id
                    message: id is too long
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                invalid_request:
                  value:
                    object: error
                    type: invalid_request
                    message: Content-Type not application/json
                    retryable: false
                    doc_url: https://errors.rev.cat/invalid-request
              schema:
                $ref: "#/components/schemas/create_paywall_400_response"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_401_response"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_403_response"
          description: Access denied
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_404_response"
          description: Not found
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_423_response"
          description: Locked
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_429_response"
          description: The request could not be completed because the rate limiting
            domain for this endpoint is currently at its limit for this project.
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
            Retry-After:
              $ref: "#/components/headers/RateLimitRetryAfter"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
      summary: Get a list of customers
      tags:
      - Customer
      x-revenuecat-rate-limiting-domain: customer_information
      x-scopes:
      - customer_information:customers:read
      x-release-status: public
    post:
      description: "This endpoint requires the following permission(s): <code>customer_information:customers:read_write</code>."
      operationId: create-customer
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: proj1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_customer_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
          description: Success. The customer was created
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
        "400":
          content:
            application/json:
              examples:
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    param: customer_id
                    message: id is too long
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                invalid_request:
                  value:
                    object: error
                    type: invalid_request
                    message: Content-Type not application/json
                    retryable: false
                    doc_url: https://errors.rev.cat/invalid-request
              schema:
                $ref: "#/components/schemas/create_paywall_400_response"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_401_response"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_403_response"
          description: Access denied
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_404_response"
          description: Not found
        "409":
          content:
            application/json:
              examples:
                resource_already_exists:
                  value:
                    object: error
                    type: resource_already_exists
                    message: Name is already taken
                    retryable: false
                    doc_url: https://errors.rev.cat/resource-already-exists
                idempotency_error:
                  value:
                    object: error
                    type: idempotency_error
                    message: Idempotency key already used for a different request
                    retryable: false
                    doc_url: https://errors.rev.cat/idempotency-error
              schema:
                $ref: "#/components/schemas/create_paywall_409_response"
          description: Conflict
        "422":
          content:
            application/json:
              examples:
                unprocessable_entity:
                  value:
                    object: error
                    type: unprocessable_entity_error
                    message: Cannot delete a product that has purchases
                    retryable: false
                    doc_url: https://errors.rev.cat/unprocessable-entity-error
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    message: Date must in the future
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                store_error:
                  value:
                    object: error
                    type: store_error
                    message: There was a problem on the App Store
                    retryable: true
                    doc_url: https://errors.rev.cat/store-error
                    backoff_ms: 1000
              schema:
                $ref: "#/components/schemas/create_paywall_422_response"
          description: Unprocessable entity
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_423_response"
          description: Locked
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_429_response"
          description: The request could not be completed because the rate limiting
            domain for this endpoint is currently at its limit for this project.
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
            Retry-After:
              $ref: "#/components/headers/RateLimitRetryAfter"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
      summary: Create a customer
      tags:
      - Customer
      x-revenuecat-rate-limiting-domain: customer_information
      x-scopes:
      - customer_information:customers:read_write
      x-release-status: public
  /projects/{project_id}/customers/{customer_id}:
    delete:
      description: "This endpoint requires the following permission(s): <code>customer_information:customers:read_write</code>."
      operationId: delete-customer
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: proj1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      - description: ID of the customer
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          example: 19b8de26-77c1-49f1-aa18-019a391603e2
          maxLength: 1500
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                object: customer
                id: b5b7bfd2-66fb-4091-af50-7c3cdccfdf24
                deleted_at: 1658399423658
              schema:
                $ref: "#/components/schemas/DeletedObject"
          description: Success
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
        "400":
          content:
            application/json:
              examples:
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    param: customer_id
                    message: id is too long
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                invalid_request:
                  value:
                    object: error
                    type: invalid_request
                    message: Content-Type not application/json
                    retryable: false
                    doc_url: https://errors.rev.cat/invalid-request
              schema:
                $ref: "#/components/schemas/create_paywall_400_response"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_401_response"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_403_response"
          description: Access denied
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_404_response"
          description: Not found
        "409":
          content:
            application/json:
              examples:
                resource_already_exists:
                  value:
                    object: error
                    type: resource_already_exists
                    message: Name is already taken
                    retryable: false
                    doc_url: https://errors.rev.cat/resource-already-exists
                idempotency_error:
                  value:
                    object: error
                    type: idempotency_error
                    message: Idempotency key already used for a different request
                    retryable: false
                    doc_url: https://errors.rev.cat/idempotency-error
              schema:
                $ref: "#/components/schemas/create_paywall_409_response"
          description: Conflict
        "422":
          content:
            application/json:
              examples:
                unprocessable_entity:
                  value:
                    object: error
                    type: unprocessable_entity_error
                    message: Cannot delete a product that has purchases
                    retryable: false
                    doc_url: https://errors.rev.cat/unprocessable-entity-error
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    message: Date must in the future
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                store_error:
                  value:
                    object: error
                    type: store_error
                    message: There was a problem on the App Store
                    retryable: true
                    doc_url: https://errors.rev.cat/store-error
                    backoff_ms: 1000
              schema:
                $ref: "#/components/schemas/create_paywall_422_response"
          description: Unprocessable entity
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_423_response"
          description: Locked
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_429_response"
          description: The request could not be completed because the rate limiting
            domain for this endpoint is currently at its limit for this project.
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
            Retry-After:
              $ref: "#/components/headers/RateLimitRetryAfter"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
      summary: Delete a customer
      tags:
      - Customer
      x-revenuecat-rate-limiting-domain: customer_information
      x-scopes:
      - customer_information:customers:read_write
      x-release-status: public
    get:
      description: "This endpoint requires the following permission(s): <code>customer_information:customers:read</code>."
      operationId: get-customer
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: proj1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      - description: ID of the customer
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          example: 19b8de26-77c1-49f1-aa18-019a391603e2
          maxLength: 1500
          minLength: 1
          type: string
        style: simple
      - description: |-
          Specifies which fields in the response should be expanded.
           Accepted values are: `attributes` (requires `customer_information:customers:read` permission).
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - attributes
            example: attributes
            maxLength: 5000
            minLength: 1
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
          description: Success
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
        "400":
          content:
            application/json:
              examples:
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    param: customer_id
                    message: id is too long
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                invalid_request:
                  value:
                    object: error
                    type: invalid_request
                    message: Content-Type not application/json
                    retryable: false
                    doc_url: https://errors.rev.cat/invalid-request
              schema:
                $ref: "#/components/schemas/create_paywall_400_response"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_401_response"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_403_response"
          description: Access denied
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_404_response"
          description: Not found
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_423_response"
          description: Locked
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_429_response"
          description: The request could not be completed because the rate limiting
            domain for this endpoint is currently at its limit for this project.
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
            Retry-After:
              $ref: "#/components/headers/RateLimitRetryAfter"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
      summary: Get a customer
      tags:
      - Customer
      x-revenuecat-rate-limiting-domain: customer_information
      x-scopes:
      - customer_information:customers:read
      x-expandable-fields:
      - attributes: customer_information:customers:read
      x-release-status: public
  /projects/{project_id}/customers/{customer_id}/actions/transfer:
    post:
      description: "This endpoint requires the following permission(s): <code>customer_information:customers:read_write</code>,\
        \ <code>customer_information:subscriptions:read_write</code>, <code>customer_information:purchases:read_write</code>."
      operationId: transfer-customer-data
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: proj1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      - description: ID of the customer
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          example: 19b8de26-77c1-49f1-aa18-019a391603e2
          maxLength: 1500
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/transfer_customer_data_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer"
          description: Success
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
        "400":
          content:
            application/json:
              examples:
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    param: customer_id
                    message: id is too long
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                invalid_request:
                  value:
                    object: error
                    type: invalid_request
                    message: Content-Type not application/json
                    retryable: false
                    doc_url: https://errors.rev.cat/invalid-request
              schema:
                $ref: "#/components/schemas/create_paywall_400_response"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_401_response"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_403_response"
          description: Access denied
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_404_response"
          description: Not found
        "409":
          content:
            application/json:
              examples:
                resource_already_exists:
                  value:
                    object: error
                    type: resource_already_exists
                    message: Name is already taken
                    retryable: false
                    doc_url: https://errors.rev.cat/resource-already-exists
                idempotency_error:
                  value:
                    object: error
                    type: idempotency_error
                    message: Idempotency key already used for a different request
                    retryable: false
                    doc_url: https://errors.rev.cat/idempotency-error
              schema:
                $ref: "#/components/schemas/create_paywall_409_response"
          description: Conflict
        "422":
          content:
            application/json:
              examples:
                unprocessable_entity:
                  value:
                    object: error
                    type: unprocessable_entity_error
                    message: Cannot delete a product that has purchases
                    retryable: false
                    doc_url: https://errors.rev.cat/unprocessable-entity-error
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    message: Date must in the future
                    retryable: false
                    doc_url: https://errors.rev.cat/parameter-error
                store_error:
                  value:
                    object: error
                    type: store_error
                    message: There was a problem on the App Store
                    retryable: true
                    doc_url: https://errors.rev.cat/store-error
                    backoff_ms: 1000
              schema:
                $ref: "#/components/schemas/create_paywall_422_response"
          description: Unprocessable entity
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_423_response"
          description: Locked
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_429_response"
          description: The request could not be completed because the rate limiting
            domain for this endpoint is currently at its limit for this project.
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
            Retry-After:
              $ref: "#/components/headers/RateLimitRetryAfter"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_paywall_500_response"
          description: Internal server error
      summary: Transfer customer's subscriptions and one-time purchases to another
        customer
      tags:
      - Customer
      x-revenuecat-rate-limiting-domain: customer_information
      x-scopes:
      - customer_information:customers:read_write
      - customer_information:subscriptions:read_write
      - customer_information:purchases:read_write
      x-release-status: public
  /projects/{project_id}/products/{product_id}:
    delete:
      description: "This endpoint requires the following permission(s): <code>project_configuration:products:read_write</code>."
      operationId: delete-product
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: proj1ab2c3d4
          maxLength: 255
          type: string
        style: simple
      - description: ID of the product
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          example: prod1a2b3c4d5
          maxLength: 255
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletedObject"
          description: Success
          headers:
            RevenueCat-Rate-Limit-Current-Usage:
              $ref: "#/components/headers/RateLimitCurrentUsage"
            RevenueCat-Rate-Limit-Current-Limit:
              $ref: "#/components/headers/RateLimitCurrentLimit"
        "400":
          content:
            application/json:
              examples:
                parameter_error:
                  value:
                    object: error
                    type: parameter_error
                    param: customer_id
                    message: id is too long
                    retryable: false
[...]
